body {
    margin: 0;
    line-height: normal;
    height: 3900px;
}


.group-child {
    position: absolute;
    height: 65.43%;
    width: 66.07%;
    top: 34.39%;
    right: 11.34%;
    bottom: 0.18%;
    left: 22.59%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-item {
    position: absolute;
    height: 93.83%;
    width: 22.31%;
    top: 6.06%;
    right: 77.69%;
    bottom: 0.12%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-inner {
    position: absolute;
    height: 93.83%;
    width: 5.38%;
    top: 6.14%;
    right: 0.02%;
    bottom: 0.03%;
    left: 94.6%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-icon {
    position: absolute;
    height: 66.35%;
    width: 7.31%;
    top: 34%;
    right: 92.69%;
    bottom: -0.35%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child1 {
    position: absolute;
    height: 81.73%;
    width: 2.67%;
    top: 18.12%;
    right: 81.3%;
    bottom: 0.15%;
    left: 16.03%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child2 {
    position: absolute;
    height: 65.38%;
    width: 7.59%;
    top: 34.28%;
    right: 65.97%;
    bottom: 0.33%;
    left: 26.44%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child3 {
    position: absolute;
    height: 65.38%;
    width: 7.59%;
    top: 34.29%;
    right: 49.09%;
    bottom: 0.32%;
    left: 43.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child4 {
    position: absolute;
    height: 65.38%;
    width: 9%;
    top: 34.15%;
    right: 30.98%;
    bottom: 0.47%;
    left: 60.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child5 {
    position: absolute;
    height: 100%;
    width: 8.16%;
    top: 0%;
    right: 14.57%;
    bottom: 0%;
    left: 77.27%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child6 {
    position: absolute;
    height: 65.38%;
    width: 7.45%;
    top: 34.29%;
    right: 0.09%;
    bottom: 0.32%;
    left: 92.46%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-parent1 {
    position: absolute;
    height: 21.4%;
    width: 60.77%;
    top: 0%;
    right: 12.24%;
    bottom: 78.6%;
    left: 27%;
}

.group-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}

.group-wrapper {
    width: 117px;
    position: relative;
    height: 48.6px;
}

.chng-ti-lun {
    margin-block-start: 0;
    margin-block-end: 8px;
}

.c-th-nng {
    margin: 0;
}

.chng-ti-lun-container {
    width: 578px;
    position: relative;
    line-height: 17px;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ng-gp {
    position: relative;
    line-height: 20px;
    font-weight: 600;
}

.ng-gp-kin-wrapper {
    border-radius: 40px;
    background-color: #ff8413;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 20px;
    text-align: center;
    color: #e6e7e8;
}

.group-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 21px;
}

.icon {
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
}

.hotline {
    align-self: stretch;
    position: relative;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.div {
    position: relative;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hotline-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.icon-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.frame-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    color: #3f3f3f;
}

.frame-parent {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.gi-m-ca {
    position: relative;
    line-height: 28px;
    font-weight: 600;
}

.gi-m-ca-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.kim-m-qun {
    position: relative;
    font-size: 16px;
    line-height: 20px;
}

.screenshot-2024-04-10-103136-1 {
    width: 373px;
    position: relative;
    height: 135px;
    object-fit: cover;
}

.frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.sn-phm {
    position: relative;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.gng-knh-cn {
    position: relative;
    line-height: 20px;
}

.frame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-parent3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.dathongbao-1-icon {
    width: 189px;
    position: relative;
    height: 72px;
    object-fit: cover;
}

.ng-nguyn-vn-container {
    width: 410px;
    position: relative;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.i-din-php-lut-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
}

.dathongbao-1-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.frame-parent2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 60px;
    gap: 30px;
    font-size: 16px;
}

.frame-div {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 0px;
    box-sizing: border-box;
}

.copyright-2024 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 16px;
    font-weight: 500;
}

.copyright-2024-bn-quyn-thu-wrapper {
    align-self: stretch;
    background-color: #1b87ec;
    height: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 12px;
    color: #e6e7e8;
}

.frame-container {
    width: 1440px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 20px;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #eff8ff;
    width: 1440px;
    height: 766px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 120px 30px;
    box-sizing: border-box;
    gap: 40px;
}

.span {
    color: #e91f64;
}

.top-qc {
    align-self: stretch;
    background-color: #e6e7e8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px 120px;
}

.group-child7 {
    position: absolute;
    height: 65.58%;
    width: 66.1%;
    top: 34.43%;
    right: 11.31%;
    bottom: -0.01%;
    left: 22.58%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child8 {
    position: absolute;
    height: 93.85%;
    width: 22.3%;
    top: 6.06%;
    right: 77.7%;
    bottom: 0.09%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child9 {
    position: absolute;
    height: 93.85%;
    width: 5.39%;
    top: 6.15%;
    right: 0.04%;
    bottom: 0%;
    left: 94.57%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child10 {
    position: absolute;
    height: 66.07%;
    width: 7.43%;
    top: 33.82%;
    right: 92.57%;
    bottom: 0.11%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child11 {
    position: absolute;
    height: 81.25%;
    width: 2.65%;
    top: 18.02%;
    right: 81.31%;
    bottom: 0.73%;
    left: 16.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child12 {
    position: absolute;
    height: 65.18%;
    width: 7.69%;
    top: 34.1%;
    right: 65.85%;
    bottom: 0.72%;
    left: 26.46%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child13 {
    position: absolute;
    height: 65.18%;
    width: 7.56%;
    top: 34.11%;
    right: 49.1%;
    bottom: 0.71%;
    left: 43.34%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child14 {
    position: absolute;
    height: 65.18%;
    width: 8.89%;
    top: 33.96%;
    right: 31.05%;
    bottom: 0.86%;
    left: 60.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child15 {
    position: absolute;
    height: 100%;
    width: 8.22%;
    top: 0%;
    right: 14.45%;
    bottom: 0%;
    left: 77.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-child16 {
    position: absolute;
    height: 65.18%;
    width: 7.43%;
    top: 34.11%;
    right: 0.05%;
    bottom: 0.71%;
    left: 92.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-parent3 {
    position: absolute;
    height: 21.54%;
    width: 60.71%;
    top: 0%;
    right: 12.3%;
    bottom: 78.46%;
    left: 26.99%;
}

.logo-1-inner {
    position: absolute;
    height: 100%;
    width: 72.21%;
    top: 0.06%;
    right: 13.88%;
    bottom: -0.06%;
    left: 13.91%;
}

.logo-1 {
    width: 172px;
    position: relative;
    height: 52px;
    overflow: hidden;
    flex-shrink: 0;
}

.trang-ch-wrapper {
    border-bottom: 1px solid #1b87ec;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 0px 10px;
    color: #1b87ec;
}

.frame-parent4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 19px 0px 9px;
    gap: 40px;
}

.top-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.top-icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header-top-bar {
    align-self: stretch;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px 120px;
}

.top {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
}

.trang-ch1 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 16px;
}

.breadcrumb-child {
    width: 5.7px;
    position: relative;
    height: 5.7px;
    object-fit: contain;
}

.th-trng-c {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 16px;
    color: #1b87ec;
}

.breadcrumb {
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 120px;
    box-sizing: border-box;
    gap: 3px;
}

.breadcrumb-wrapper {
    position: absolute;
    top: 112px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 12px;
}

.image-30-icon {
    width: 1440px;
    position: relative;
    height: 582px;
    object-fit: cover;
}

.v-chng-ti {
    width: 1023px;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 64px;
    font-weight: 600;
    display: inline-block;
}

.if-your-face {
    flex: 1;
    position: relative;
    line-height: 28px;
}

.if-your-face-features-a-lower-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 120px;
    font-size: 20px;
}

.image-30-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.image-icon {
    width: 621px;
    position: relative;
    height: 787px;
    object-fit: cover;
}

.tm-nhn {
    position: relative;
    line-height: 44px;
    font-weight: 500;
}

.if-your-face1 {
    width: 540px;
    position: relative;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    display: inline-block;
}

.tm-nhn-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 37px;
}

.image-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.image-31-icon {
    width: 623px;
    position: relative;
    height: 787px;
    object-fit: cover;
}

.image-icon1 {
    width: 540px;
    position: relative;
    height: 787px;
    object-fit: cover;
}

.if-your-face3 {
    width: 540px;
    position: relative;
    font-size: 20px;
    font-family: Inter;
    text-align: left;
    display: inline-block;
}

.image-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.image-32-icon {
    width: 1920px;
    position: relative;
    height: 411px;
    object-fit: cover;
}

.frame-parent6 {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    font-size: 28px;
}

.frame-parent5 {
    position: absolute;
    top: 169px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 60px;
    text-align: center;
    font-size: 48px;
}

.about {
    width: 1440px;
    position: relative;
    background-color: #fff;
    height: 4677px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #000;
    font-family: Raleway;
}